html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #caf0f8;
  background-image: url('../assets/acnh.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  font-size: 10vw;
  font-family: 'Inter', sans-serif;
  color: #252525;

  filter: blur(0.5vw);
  user-select: none;
}
